# Exercise 8: More About Pandas DataFrames

## Aim: Learn how to select certain data from a `Pandas` DataFrame.

### Issues covered:
- Using `loc` and `iloc` to locate data in a dataframe
- Slicing dataframes
- Creating subsets and masks

## 1. Using `loc` and `iloc`

Create a dataframe called `data` from the CSV file `data/europe_gdp.csv` and index it by the `country` column.

In [2]:
import pandas as pd
df = pd.read_csv('../data/europe_gdp.csv')
df = df.set_index(df.country)
print(df)

                                       country  gdpPercap_1952  \
country
Albania                                Albania     1601.056136
Austria                                Austria     6137.076492
Belgium                                Belgium     8343.105127
Bosnia and Herzegovina  Bosnia and Herzegovina      973.533195
Bulgaria                              Bulgaria     2444.286648
Croatia                                Croatia     3119.236520
Czech Republic                  Czech Republic     6876.140250
Denmark                                Denmark     9692.385245
Finland                                Finland     6424.519071
France                                  France     7029.809327
Germany                                Germany     7144.114393
Greece                                  Greece     3530.690067
Hungary                                Hungary     5263.673816
Iceland                                Iceland     7267.688428
Ireland                                Ireland     5210.280328
Italy                                    Italy     4931.404155
Montenegro                          Montenegro     2647.585601
Netherlands                        Netherlands     8941.571858
Norway                                  Norway    10095.421720
Poland                                  Poland     4029.329699
Portugal                              Portugal     3068.319867
Romania                                Romania     3144.613186
Serbia                                  Serbia     3581.459448
Slovak Republic                Slovak Republic     5074.659104
Slovenia                              Slovenia     4215.041741
Spain                                    Spain     3834.034742
Sweden                                  Sweden     8527.844662
Switzerland                        Switzerland    14734.232750
Turkey                                  Turkey     1969.100980
United Kingdom                  United Kingdom     9979.508487

                        gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Albania                    1942.284244     2312.888958     2760.196931
Austria                    8842.598030    10750.721110    12834.602400
Belgium                    9714.960623    10991.206760    13149.041190
Bosnia and Herzegovina     1353.989176     1709.683679     2172.352423
Bulgaria                   3008.670727     4254.337839     5577.002800
Croatia                    4338.231617     5477.890018     6960.297861
Czech Republic             8256.343918    10136.867130    11399.444890
Denmark                   11099.659350    13583.313510    15937.211230
Finland                    7545.415386     9371.842561    10921.636260
France                     8662.834898    10560.485530    12999.917660
Germany                   10187.826650    12902.462910    14745.625610
Greece                     4916.299889     6017.190733     8513.097016
Hungary                    6040.180011     7550.359877     9326.644670
Iceland                    9244.001412    10350.159060    13319.895680
Ireland                    5599.077872     6631.597314     7655.568963
Italy                      6248.656232     8243.582340    10022.401310
Montenegro                 3682.259903     4649.593785     5907.850937
Netherlands               11276.193440    12790.849560    15363.251360
Norway                    11653.973040    13450.401510    16361.876470
Poland                     4734.253019     5338.752143     6557.152776
Portugal                   3774.571743     4727.954889     6361.517993
Romania                    3943.370225     4734.997586     6470.866545
Serbia                     4981.090891     6289.629157     7991.707066
Slovak Republic            6093.262980     7481.107598     8412.902397
Slovenia                   5862.276629     7402.303395     9405.489397
Spain                      4564.802410     5693.843879     7993.512294
Sweden                     9911.878226    12329.441920    15258.296970
Switzerland               17909.489730    20431.092700    22966.144320
Turkey                     2218.754257     2322.869908     2826.356387
United Kingdom            11283.177950    12477.177070    14142.850890

                        gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
country
Albania                    3313.422188     3533.003910     3630.880722
Austria                   16661.625600    19749.422300    21597.083620
Belgium                   16672.143560    19117.974480    20979.845890
Bosnia and Herzegovina     2860.169750     3528.481305     4126.613157
Bulgaria                   6597.494398     7612.240438     8224.191647
Croatia                    9164.090127    11305.385170    13221.821840
Czech Republic            13108.453600    14800.160620    15377.228550
Denmark                   18866.207210    20422.901500    21688.040480
Finland                   14358.875900    15605.422830    18533.157610
France                    16107.191710    18292.635140    20293.897460
Germany                   18016.180270    20512.921230    22031.532740
Greece                    12724.829570    14195.524280    15268.420890
Hungary                   10168.656110    11674.837370    12545.990660
Iceland                   15798.063620    19654.962470    23269.607500
Ireland                    9530.772896    11150.981130    12618.321410
Italy                     12269.273780    14255.984750    16537.483500
Montenegro                 7778.414017     9595.929905    11222.587620
Netherlands               18794.745670    21209.059200    21399.460460
Norway                    18965.055510    23311.349390    26298.635310
Poland                     8006.506993     9508.141454     8451.531004
Portugal                   9022.247417    10172.485720    11753.842910
Romania                    8011.414402     9356.397240     9605.314053
Serbia                    10522.067490    12980.669560    15181.092700
Slovak Republic            9674.167626    10922.664040    11348.545850
Slovenia                  12383.486200    15277.030170    17866.721750
Spain                     10638.751310    13236.921170    13926.169970
Sweden                    17832.024640    18855.725210    20667.381250
Switzerland               27195.113040    26982.290520    28397.715120
Turkey                     3450.696380     4269.122326     4241.356344
United Kingdom            15895.116410    17428.748460    18232.424520

                        gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  \
country
Albania                    3738.932735     2497.437901     3193.054604
Austria                   23687.826070    27042.018680    29095.920660
Belgium                   22525.563080    25575.570690    27561.196630
Bosnia and Herzegovina     4314.114757     2546.781445     4766.355904
Bulgaria                   8239.854824     6302.623438     5970.388760
Croatia                   13822.583940     8447.794873     9875.604515
Czech Republic            16310.443400    14297.021220    16048.514240
Denmark                   25116.175810    26406.739850    29804.345670
Finland                   21141.012230    20647.164990    23723.950200
France                    22066.442140    24703.796150    25889.784870
Germany                   24639.185660    26505.303170    27788.884160
Greece                    16120.528390    17541.496340    18747.698140
Hungary                   12986.479980    10535.628550    11712.776800
Iceland                   26923.206280    25144.392010    28061.099660
Ireland                   13872.866520    17558.815550    24521.947130
Italy                     19207.234820    22013.644860    24675.024460
Montenegro                11732.510170     7003.339037     6465.613349
Netherlands               23651.323610    26790.949610    30246.130630
Norway                    31540.974800    33965.661150    41283.164330
Poland                     9082.351172     7738.881247    10159.583680
Portugal                  13039.308760    16207.266630    17641.031560
Romania                    9696.273295     6598.409903     7346.547557
Serbia                    15870.878510     9325.068238     7914.320304
Slovak Republic           12037.267580     9498.467723    12126.230650
Slovenia                  18678.534920    14214.716810    17161.107350
Spain                     15764.983130    18603.064520    20445.298960
Sweden                    23586.929270    23880.016830    25266.594990
Switzerland               30281.704590    31871.530300    32135.323010
Turkey                     5089.043686     5678.348271     6601.429915
United Kingdom            21664.787670    22705.092540    26074.531360

                        gdpPercap_2002  gdpPercap_2007
country
Albania                    4604.211737     5937.029526
Austria                   32417.607690    36126.492700
Belgium                   30485.883750    33692.605080
Bosnia and Herzegovina     6018.975239     7446.298803
Bulgaria                   7696.777725    10680.792820
Croatia                   11628.388950    14619.222720
Czech Republic            17596.210220    22833.308510
Denmark                   32166.500060    35278.418740
Finland                   28204.590570    33207.084400
France                    28926.032340    30470.016700
Germany                   30035.801980    32170.374420
Greece                    22514.254800    27538.411880
Hungary                   14843.935560    18008.944440
Iceland                   31163.201960    36180.789190
Ireland                   34077.049390    40675.996350
Italy                     27968.098170    28569.719700
Montenegro                 6557.194282     9253.896111
Netherlands               33724.757780    36797.933320
Norway                    44683.975250    49357.190170
Poland                    12002.239080    15389.924680
Portugal                  19970.907870    20509.647770
Romania                    7885.360081    10808.475610
Serbia                     7236.075251     9786.534714
Slovak Republic           13638.778370    18678.314350
Slovenia                  20660.019360    25768.257590
Spain                     24835.471660    28821.063700
Sweden                    29341.630930    33859.748350
Switzerland               34480.957710    37506.419070
Turkey                     6508.085718     8458.276384
United Kingdom            29478.999190    33203.261280

Print out the GDP per capita for Belgium in 1957 (2nd column, 3rd row) using `iloc`.

_Hint: Remember that indexing starts from 0 in Python. You should get the value `9714.960623`._

In [7]:
df.iloc[2,2]

9714.960623

Use `loc` to print out GDP per capita for Belgium in 1957. You should get the same result as above.

In [13]:
df.loc['Belgium','gdpPercap_1957']

9714.960623

Print GDP per capita for `Switzerland` for all years using `:`.

In [15]:
df.loc['Switzerland','gdpPercap_1957':'gdpPercap_2007']

gdpPercap_1957    17909.48973
gdpPercap_1962     20431.0927
gdpPercap_1967    22966.14432
gdpPercap_1972    27195.11304
gdpPercap_1977    26982.29052
gdpPercap_1982    28397.71512
gdpPercap_1987    30281.70459
gdpPercap_1992     31871.5303
gdpPercap_1997    32135.32301
gdpPercap_2002    34480.95771
gdpPercap_2007    37506.41907
Name: Switzerland, dtype: object

Print out GDP per capita in 1987 for all countries.

In [16]:
df.loc[:,'gdpPercap_1987']

country
Albania                    3738.932735
Austria                   23687.826070
Belgium                   22525.563080
Bosnia and Herzegovina     4314.114757
Bulgaria                   8239.854824
Croatia                   13822.583940
Czech Republic            16310.443400
Denmark                   25116.175810
Finland                   21141.012230
France                    22066.442140
Germany                   24639.185660
Greece                    16120.528390
Hungary                   12986.479980
Iceland                   26923.206280
Ireland                   13872.866520
Italy                     19207.234820
Montenegro                11732.510170
Netherlands               23651.323610
Norway                    31540.974800
Poland                     9082.351172
Portugal                  13039.308760
Romania                    9696.273295
Serbia                    15870.878510
Slovak Republic           12037.267580
Slovenia                  18678.534920
Spain                     15764.983130
Sweden                    23586.929270
Switzerland               30281.704590
Turkey                     5089.043686
United Kingdom            21664.787670
Name: gdpPercap_1987, dtype: float64

Print out a slice of the data frame which shows GDP for countries between Denmark to Iceland from 1982 to 1992.

In [18]:
df.loc['Denmark':'Iceland','gdpPercap_1982':'gdpPercap_1992']

         gdpPercap_1982  gdpPercap_1987  gdpPercap_1992
country
Denmark     21688.04048     25116.17581     26406.73985
Finland     18533.15761     21141.01223     20647.16499
France      20293.89746     22066.44214     24703.79615
Germany     22031.53274     24639.18566     26505.30317
Greece      15268.42089     16120.52839     17541.49634
Hungary     12545.99066     12986.47998     10535.62855
Iceland     23269.60750     26923.20628     25144.39201

Print out the last 3 columns for the last 3 rows of countries.

In [19]:
df.loc['Switzerland':'United Kingdom','gdpPercap_1997':'gdpPercap_2007']

                gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Switzerland       32135.323010    34480.957710    37506.419070
Turkey             6601.429915     6508.085718     8458.276384
United Kingdom    26074.531360    29478.999190    33203.261280

What are the maximum GDP values between 1997-2007 for the last 3 countries alphabetically?

In [21]:
print(df.loc['Switzerland':'United Kingdom','gdpPercap_1997':'gdpPercap_2007'].max())

gdpPercap_1997    32135.32301
gdpPercap_2002    34480.95771
gdpPercap_2007    37506.41907
dtype: float64

## 2. Creating subsets and masks

Create a variable called `subset` which contains only the data for Hungary to Netherlands between 1962 and 1972. Print out the subset.

In [27]:
subset = df.loc['Hungary':'Netherlands','gdpPercap_1962':'gdpPercap_1972']
print(subset)

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary         7550.359877     9326.644670    10168.656110
Iceland        10350.159060    13319.895680    15798.063620
Ireland         6631.597314     7655.568963     9530.772896
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670

Return a dataframe of boolean (`True` or `False`) values showing where the GDP values are greater than 10000.

#print('\nWhere are values > 10,000?', subset > 10000)
print('\nWhere are values large?\n', subset > 10000)

In [28]:
print('\nWhere are values > 10,000?', subset > 10000)

Where are values > 10,000?              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary               False           False            True
Iceland                True            True            True
Ireland               False           False           False
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True

Create a boolean mask for the above and print the result of applying this to the subset.

In [30]:
mask = subset > 10000
print(subset[mask])

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary                 NaN             NaN     10168.65611
Iceland         10350.15906     13319.89568     15798.06362
Ireland                 NaN             NaN             NaN
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567

What is the mean and standard deviation of the mask applied to this subset?

In [32]:
subset.describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        6.000000        6.000000        6.000000
mean      8369.356989    10265.935487    12389.987682
std       2864.129743     3523.004185     4171.966278
min       4649.593785     5907.850937     7778.414017
25%       6861.287955     8073.337890     9690.243700
50%       7896.971108     9674.522990    11218.964945
75%       9823.514880    12495.522087    14915.866160
max      12790.849560    15363.251360    18794.745670

## 3. Extension Questions

1. Find the index of the maximum for each column of the dataset.

_Hint: You will need to make use of `idxmax()`._

2. Similarly, find the index of the minimum for each column of the dataset.

_Hint: You will need to make use of `idxmin()`._

3. Print out the median GDP per capita across all countries for each year.

_Hint: Use `median()`._